<div class="youbox">
  <div class="eitheranswer"><%=@userinput%></div>
  <div class="speakername"><%= " - You" %></div>
</div>

<div class="coachbox">
  <div class="eitheranswer"><%=@coachanswer%></div>
  <div class="speakername"><%= " - Your Coach" %>
</div>

</div>



<div>
<p>
<%= link_to "Ask a new question", ask_path %>
</p>
</div>
